{% load bootstrap4 %}
{% load static %}

{% load django_template_maths %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
       shrink-to-fit=no">
    <title>Budgetta - budget manager</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% block stylesheet %}{% static "budgetta_app/css/style.css" %}{% endblock %}">
    <script src="{% static "budgetta_app/js/bs-table.js" %}"></script>
    <script src="{% static "budgetta_app/js/scripts.js" %}"></script>
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <a class="navbar-brand" href="{% url 'budgetta_app:index'%}">Budgetta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'budgetta_app:transactions' %}">transactions</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'budgetta_app:categories' %}">categories</a></li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <span class="navbar-text">Hello, {{ user.username }}.</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
    {% if user.is_authenticated %}
    <main role="main" class="container">
        <div class="pb-2 mb-2 border-bottom">

            <div class="progress">
                <div class="{{ total_expenses.sum|mul:100 |div:expected_expenses.sum | get_progress_status }}" role="progressbar"
                     style="width: {{ total_expenses.sum|mul:100 |div:expected_expenses.sum }}%"
                     aria-valuenow={{total_expenses.sum}} aria-valuemin="0" aria-valuemax={{expected_expenses.sum}}>
                    {{ total_expenses.sum }} / {{ expected_expenses.sum }}
                </div>
            </div>
        </div>
    </main>
    {% endif %}
   <main role="main" class="container">
     <div class="pb-2 mb-2 border-bottom">
         {% block page_header %}{% endblock page_header %}
     </div>
     <div>
         {% block content %}{% endblock content %}
       </div>
     </main>

</body>
</html>