{% extends "budgetta_app/base.html" %}
{% load bootstrap4 %}
{% load django_template_maths %}
{% block page_header %}
{% if user.is_anonymous %}
<div class="jumbotron">
    <h1 class="display-3">Manage your budget</h1>

    <p class="lead">manage your budget by tracking your expenses and finance transactions</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
       role="button">Register &raquo;</a>
</div>
{% endif %}
{% endblock page_header %}

{% block content %}
{% if user.is_authenticated %}

<h3><p> expense:</p></h3>
{% if expense_list|length > 0 %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col" width="20%">Category</th>
        <th scope="col" width="80%">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expense_list %}
    <tr>
        <th scope="row" width="20%">{{ expense.category__name}}</th>
        <td colspan="2" width="80%">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar"
                     style="width: {{ expense.total_price|mul:100 |div:expense.category__limit}}%"
                     aria-valuenow={{expense.total_price}} aria-valuemin="0" aria-valuemax={{expense.category__limit}}>
                    {{ expense.total_price }} / {{ expense.category__limit }}
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No expenses have been added yet.</p>
{% endif %}
<h3><p> income:</p></h3>
{% if income_list|length > 0 %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col" width="20%">Category</th>
        <th scope="col" width="80%">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for income in income_list %}
    <tr>
        <th scope="row" width="20%">{{ income.category__name}}</th>
        <td colspan="2" width="80%">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar"
                     style="width: {{ income.total_price|mul:100 |div:income.category__limit}}%"
                     aria-valuenow={{income.total_price}} aria-valuemin="0" aria-valuemax={{income.category__limit}}>{{
                    income.total_price }} / {{ income.category__limit }}
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No income have been added yet.</p>
{% endif %}

{% endif %}
{% endblock content %}
