{% extends "budgetta_app/base.html" %}

{% block page_header %}
{% if user.is_anonymous %}
<div class="jumbotron">
    <h1 class="display-3">Manage your budget</h1>

    <p class="lead">manage your budget by tracking your expenses and finance transactions</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
       role="button">Register &raquo;</a>
</div>
{% endif %}
{% endblock page_header %}

{% block content %}
{% if user.is_authenticated %}

<h3><p> expense:</p></h3>
{% if expense_list|length > 0 %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Total amount</th>
      <th scope="col">Limit</th>
    </tr>
  </thead>
  <tbody>
  {% for expense in expense_list %}
    <tr>
      <th scope="row">{{ expense.category__name}}</th>
      <td>{{ expense.total_price}}</td>
      <td>{{expense.category__limit}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No expenses have been added yet.</p>
{% endif %}
<h3><p> income:</p></h3>
{% if income_list|length > 0 %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Total amount</th>
      <th scope="col">Limit</th>
    </tr>
  </thead>
  <tbody>
  {% for income in income_list %}
    <tr>
      <th scope="row">{{ income.category__name}}</th>
      <td>{{ income.total_price}}</td>
      <td>{{income.category__limit}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No income have been added yet.</p>
{% endif %}

{% endif %}
{% endblock content %}
