{% extends "budgetta_app/base.html" %}

{% block page_header %}
<h1>Transactions</h1>
{% endblock page_header %}
{% block content %}
<p>Expenses:</p>

<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#expenseModal">
  add expense
</button>
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{% include 'budgetta_app/new_transaction_modal.html' with is_expense_val='on' %}
</div>

<div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{% include 'budgetta_app/edit_transaction_modal.html' with is_expense_val='on' %}
</div>

<div class="modal fade" id="editIncomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{% include 'budgetta_app/edit_transaction_modal.html' with is_expense_val='off' %}
</div>

<br>
<br>

{% if expenses|length > 0 %}
<div class="table-sort" style="display: block;height: 300px; overflow-y: auto">
<table class="table-sort" data-toggle="table" data-mobile-responsive="true">
  <thead class="thead-light">
    <tr>
      <th data-field="name"  scope="col" >name</th>
      <th data-field="category" data-sortable="true" scope="col" scope="col">category</th>
      <th data-field="amount" data-sortable="true" scope="col">amount</th>
      <th data-field="date" data-sortable="true" scope="col">date</th>
    </tr>
  </thead>


  <tbody >
  {% for expense in expenses %}
    <tr>
      <th scope="row"><a href="#" onclick="javascript:showExpense('{{ expense.name }}', '{{ expense.amount }}', '{{ expense.category_id }}', '{{ expense.id }}')">{{ expense.name }}</a></th>
      <td>{{ expense.category }}</td>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.date }}</td>
    </tr>
    {% endfor %}
  </tbody>

</table>
</div>
    {% else %}
    <p>No expense transactions have been added yet.</p>
    {% endif %}


<p>Income:</p>

  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#incomeModal">
  add income
</button>
<div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{% include 'budgetta_app/new_transaction_modal.html' %}
</div>
<br>
<br>



{% if incomes|length > 0 %}
<div class="table-sort" style="display: block;height: 300px; overflow-y: auto">
<table class="table-sort"  data-toggle="table" data-mobile-responsive="true">
  <thead class="thead-light">
    <tr>
      <th data-field="name" scope="col">name</th>
      <th data-field="category" data-sortable="true" scope="col">category</th>
      <th data-field="amount" data-sortable="true" scope="col">amount</th>
      <th data-field="date" data-sortable="true" scope="col">date</th>
    </tr>
  </thead>
  <tbody>
  {% for income in incomes %}
    <tr>
      <th scope="row"><a href="#" onclick="javascript:showIncome('{{ income.name }}', '{{ income.amount }}', '{{ income.category_id }}', '{{ income.id }}')">{{ income.name }}</a></th>
      <td>{{ income.category}}</td>
      <td>{{ income.amount}}</td>
      <td>{{ income.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
    {% else %}
    <p>No income transactions have been added yet.</p>
    {% endif %}
{% endblock content %}

