{% extends "budgetta_app/base.html" %}
 {% block page_header %}
     <h1>Transactions</h1>
   {% endblock page_header %}

{% block content %}

<p>Expenses:</p>

<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#expenseModal">
  add expense
</button>
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{% include 'budgetta_app/new_transaction_modal.html' with is_expense_val='on' %}
</div>
<br>
<br>

{% if expenses|length > 0 %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">name</th>
      <th scope="col">category</th>
      <th scope="col">amount</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
  {% for expense in expenses %}
    <tr>
      <th scope="row">{{ expense.name}}</th>
      <td>{{ expense.category}}</td>
      <td>{{ expense.amount}}</td>
      <td>{{ expense.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    {% else %}
    <p>No expense transactions have been added yet.</p>
    {% endif %}


<p>Income:</p>

  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#incomeModal">
  add income
</button>
<div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
{% include 'budgetta_app/new_transaction_modal.html' %}
</div>
<br>
<br>



{% if incomes|length > 0 %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">name</th>
      <th scope="col">category</th>
      <th scope="col">amount</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
  {% for income in incomes %}
    <tr>
      <th scope="row">{{ income.name}}</th>
      <td>{{ income.category}}</td>
      <td>{{ income.amount}}</td>
      <td>{{ income.date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    {% else %}
    <p>No income transactions have been added yet.</p>
    {% endif %}
{% endblock content %}

